<div class="jumbotron " style="background-color:bisque">
    <div class="container">
        <h1 class="display-4" style="text-align:center">Its all about this</h1><br />


        <div style="background-color:aquamarine">
            <h3 class="lead" style="text-align:center">Technology.</h3>
            <div>
                <ul>
                    <li>Environmental friendly 4-stroke technology</li>
                    <li>Over 50 years of technical expertise in power products</li>
                    <li>Common domestic & export manufacturing line using latest technology</li>
                </ul>
            </div>
        </div><hr />


        <div style="background-color:aquamarine">
            <h3 class="lead" style="text-align:center">Product.</h3>
            <div>
                <ul>
                    <li>Wide & reliable product range of Portable Gensets, Portable Engines, Portable Water Pumping Set & Lawnmowers</li>

                </ul>
            </div>
        </div><hr />

        <div style="background-color:aquamarine">
            <h3 class="lead" style="text-align:center">After sales service.</h3>
            <div>
                <ul>
                    <li>Assured after-sales service through a wide dedicated service network</li>
                    <li>2500 company trained mechanics all over the country</li>
                    <li>Regular service camps by company/ dealers Periodic training camps organised by company engineers</li>
                    <li>Assured supply of spare parts through depots</li>
                    <li>Automated service workshops</li>
                    <li>Mobile service vans for prompt service Worldwide distribution network</li>

                </ul>
            </div>
        </div>
        <div style="background-color:aquamarine">
            <h3 class="lead" style="text-align:center">General</h3>
            <div>
                <ul>
                    <li>ISO 9001 & ISO 14001 certified company</li>


                </ul>
            </div>
        </div>
    </div>
</div>