<div class="col-md-12 text-center">
    <img src="~/Content/Images/contact.jpg" alt="image" class="img-responsive" />
</div>
<div class="jumbotron" style="width:100%;height:100%;border-radius:5%">
    <div style="padding:10%;background-color:palevioletred">
        <h2 style="text-align:center">Contact Details</h2><br />

        <div class="row" style="border-radius:5%">
            <div class="col-md-6" style="border-radius:5%;border-width:5%;border-color:aqua">
                <h3 style="text-align:center">Main address</h3>
                <p>abc</p>
            </div>
            <div class="col-md-6" style="border-radius:5%;border-width:5%;border-color:aqua">
                <h3 style="text-align:center">Digital contact</h3>
                <h4>Email</h4>
                <p>saurabh.bhushan@diaspark.com</p>
                <p>saurabhbhushan.sb@gmail.com</p>
                <br />
                <h4>Contact number</h4>
                <p>8982592619</p>

            </div>
        </div>
        <hr />
        <hr />
        <form method="post" action = "Contact" > 
            <div class = "container"> 
                <span class = "form-control-static" > Receiver: </span> 
                <input class = "form-control" type = "text" name = "receiver" /> <br/>
                 <span class = "form-control-static"> Subject: </span> 
                <input class = "form-control" type = "text" name = "subject" /> <br /> 
                <span class ="form-control-static"> Message: </span> 
                <input class = "form-control" type = "text"name = "message" /> <br/>
                <input class = "btn btn-primary" type = "submit" value = "Send"/> </div>
         </form>  
    </div>

    


 