<div class="row" style="background-color:lavender">
    <div class="col-md-4">
        <h3 style="align-content:center">Type 1</h3>
        <img src="~/Content/Images/banner1.jpg" class="img-responsive" height="100%" width="150" />
        <p>Starting from Visual Studio 2015, Microsoft has added Bootstrap as the default user interface framework through a NuGet package. So, bootstrap will be automatically added to your project, if you choose the ASP.NET Web Forms (.NET Framework) template</p>

    </div>
    <div class="col-md-4">
        <h3 style="align-content:center">Type 2</h3>
        <img src="~/Content/Images/banner2.jpg" class="img-responsive" height="100%" width="150" />
        <p>Starting from Visual Studio 2015, Microsoft has added Bootstrap as the default user interface framework through a NuGet package. So, bootstrap will be automatically added to your project, if you choose the ASP.NET Web Forms (.NET Framework) template</p>
    </div>
    <div class="col-md-4">
        <h3 style="align-content:center">Type 3</h3>
        <img src="~/Content/Images/banner3.jpg" class="img-responsive" height="100%" width="150" />
        <p>Starting from Visual Studio 2015, Microsoft has added Bootstrap as the default user interface framework through a NuGet package. So, bootstrap will be automatically added to your project, if you choose the ASP.NET Web Forms (.NET Framework) template</p>
    </div>
</div>